.emails-editor__editor {
  display: flex;
  flex-wrap: wrap;
  max-height: 93px;
  padding: 7px 4px 0 6px;
  background-color: #fff;
  border: 1px solid #c3c2cf;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}

.emails-editor__email-block-container {
  display: inline-block;
  max-width: 100%;
}

.emails-editor__email-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 23px;
  padding: 0px 11px 1px;
  margin: 0 6px 7px 0;
  font-size: 14px;
  border-radius: 12px;
  background-color: rgba(102, 152, 255, 0.2);
}

.emails-editor__email-block--invalid {
  padding: 0;
  margin-left: 11px;
  border-radius: 0;
  border-bottom: 1px dashed #d14836;
  background-color: transparent;
}

.emails-editor__email {
  display: inline-block;
  margin-right: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.emails-editor__input {
  flex-grow: 1;
  height: 24px;
  margin-bottom: 7px;
  padding: 0 11px;
  font-size: 14px;
  outline: none;
  border: none;
}

.emails-editor__input::placeholder {
  opacity: 0.4;
}

.emails-editor__icon-remove:before {
  font-style: normal;
  width: 8px;
  height: 8px;
  font-size: 17px;
  cursor: pointer;
  content: '\D7';
}
